<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Charmander</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="firstPoke" src="https://i.gifer.com/Rd6k.gif"/>
    <ion-card-header>
      <ion-card-title>Pokedex</ion-card-title>
      <ion-card-subtitle>Fire-Type</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Charmander is born with a flame at the end of its tail, and this flame is said to represent the Pokémon's life force
    </ion-card-content>
     <ion-card-title>Skills</ion-card-title>
    <ion-card-subtitle>Scratch</ion-card-subtitle>
    <ion-card-subtitle>Ember</ion-card-subtitle>
    <ion-card-subtitle>Growth</ion-card-subtitle>
    <ion-card-subtitle>Dragon Rage</ion-card-subtitle>

    <ion-card-title>Evolutions</ion-card-title>
    <ion-card-subtitle>Charmeleon</ion-card-subtitle>
    <img alt="charmeleon" src="https://i.gifer.com/C8Xn.gif"/>
    <ion-card-subtitle>Charizard</ion-card-subtitle>
    <img alt="charizard" src="https://i.gifer.com/Kon0.gif"/>

    <ion-button (click)="goBack()">BACK</ion-button>

    

  </ion-card>
</ion-content>