<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bulbasaur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="bulbasaur" src="https://media.tenor.com/sy55CpuQ__wAAAAC/bulbasaur-pokemon.gif"/>
    <ion-card-header>
      <ion-card-title>Pokedex</ion-card-title>
      <ion-card-subtitle>Grass-Type</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      There is a plant seed on its back right from the day this Pokémon is born. The seed slowly grows larger.
    </ion-card-content>
     <ion-card-title>Skills</ion-card-title>
    <ion-card-subtitle>headbutt</ion-card-subtitle>
    <ion-card-subtitle>leech-seed</ion-card-subtitle>
    <ion-card-subtitle>Growth</ion-card-subtitle>
    <ion-card-subtitle>Razor Leaf</ion-card-subtitle>

    <ion-card-title>Evolutions</ion-card-title>
    <ion-card-subtitle>Ivysaur</ion-card-subtitle>
    <img alt="Ivysaur" src="https://pa1.narvii.com/6467/5f589aebeb27e3a7d2a02050cce14679bb692531_hq.gif"/>
    <ion-card-subtitle>Venusaur</ion-card-subtitle>
    <img alt="Venusaur" src="https://i.gifer.com/8BPe.gif"/>

    <ion-button (click)="goBack()">BACK</ion-button>

    

  </ion-card>
</ion-content>