<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Squirtle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Squirtle" src="https://media.tenor.com/O-h2CnIZGQIAAAAC/squirtle-smile.gif"/>
    <ion-card-header>
      <ion-card-title>Pokedex</ion-card-title>
      <ion-card-subtitle>Water-Type</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Squirtle, known as the Tiny Turtle Pokémon, are turtle Pokémon with large eyes and chubby cheeks, capable of moving either on two feet or on all fours. Their skin is a light blue, and they possess a long, curled tail.
    </ion-card-content>
     <ion-card-title>Skills</ion-card-title>
    <ion-card-subtitle>Scratch</ion-card-subtitle>
    <ion-card-subtitle>headbutt</ion-card-subtitle>
    <ion-card-subtitle>bubbles</ion-card-subtitle>
    <ion-card-subtitle>water ball</ion-card-subtitle>

    <ion-card-title>Evolutions</ion-card-title>
    <ion-card-subtitle>Wartortle</ion-card-subtitle>
    <img alt="charmeleon" src="https://i.pinimg.com/originals/21/36/4d/21364d959852b93ffec98ea9c6bc77b5.gif"/>
    <ion-card-subtitle>Blastoise</ion-card-subtitle>
    <img alt="charizard" src="https://media1.giphy.com/media/tDT5nL8EXbQhW/giphy.gif"/>

    <ion-button (click)="goBack()">BACK</ion-button>

    

  </ion-card>
</ion-content>